<h1>Home</h1>

<div class="row">
  <div class="col-md-3">
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://s3.r29static.com/bin/entry/e94/720x960,80/1836415/image.jpg" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title"><%= @rand_item.name %></h5>
        <p class="card-text"><%= @rand_item.price %></p>
        <%= form_tag 'home#add' do%>
           <%= hidden_field_tag 'item', @rand_item%>
          <%= submit_tag '+'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
